@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0;
  background: #F3F3F3;
  font-family: 'Poppins';
}

.App{
  width: 80%;
  margin: auto;
  @media (max-width: 974px){
    width: 100%;
  } 
}

.nav-links.open {
  clip-path: circle(1024px at -0 -0);
  -webkit-clip-path: circle(1024px at -0 -0);
}
